body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  padding: 5px;
  margin-right: 5px;
  margin-left: -5px;
}

.navbar {
  background-color: #D8F1A0;
  border: #D8F1A0;
  

}

li a {
  color:black !important;
}

.active a {
  color: rgb(255, 255, 255) !important; 
  
}

li a {
  color: blue; 
}

li a:hover {
  color: green !important; 
}