body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #F3C178;
  }
  
  .logo {
    padding: 5px;
    margin-right: 5px;
    margin-left: -5px;
  }
  
  .navbar {
    background-color: #D8F1A0;
    border: #D8F1A0;
    width: 100vw;
    
  }
  
  li a {
    color: black !important;
  }
  
  .active a {
    color: rgb(255, 255, 255) !important;
  }
  
  li a {
    color: blue;
  }
  
  li a:hover {
    color: green !important;
  }
  
  footer {
    background-color: #D8F1A0;
  }
  
  
  .row.content {height: 550px}
    
  
  .sidenav {
    padding: 20px;
    background-color: #FE9C8A;
    height: 100%;
    color:black;
  }


      
 
  @media screen and (max-width: 767px) {
    .row.content {height: auto;} 
  }