body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #D8F1A0;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
  
  .logo {
    padding: 5px;
    margin-right: 5px;
    margin-left: -5px;
  }
  
  .navbar {
    background-color: #D8F1A0;
    border: #D8F1A0;
    width: 100vw;
    
  }
  
  li a {
    color: black !important;
  }
  
  .active a {
    color: rgb(255, 255, 255) !important;
  }
  
  li a {
    color: blue;
  }
  
  li a:hover {
    color: green !important;
  }

  